Repository ansys/ansys-tools-filetransfer: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 23.12.1
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort

- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: "^(poetry\\.lock)$"

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "tests/"

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.2.8
  hooks:
  - id: add-license-headers

- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Update CI/CD (#60)
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  README.rst
  doc/.vale.ini
  doc/source/index.rst
  doc/styles/.gitignore
  doc/styles/Vocab/ANSYS/accept.txt
  doc/styles/Vocab/ANSYS/reject.txt
  doc/styles/Vocab/CustomVocab/accept.txt
  doc/styles/Vocab/CustomVocab/reject.txt
  pyproject.toml
  src/ansys/tools/filetransfer/_client.py
  tox.ini
Due: mypy-code

Update metadata, add CONTRIBUTORS file
  CONTRIBUTORS.md
  README.rst
  pyproject.toml
Due: none

Update and run pre-commit hooks
  .pre-commit-config.yaml
  doc/source/conf.py
  src/ansys/tools/filetransfer/__init__.py
  src/ansys/tools/filetransfer/_client.py
  src/ansys/tools/filetransfer/_log.py
  tests/conftest.py
  tests/test_filetransfer.py
Due: mypy-code, mypy-tests

Update metadata, add CONTRIBUTORS file (#61)
  .pre-commit-config.yaml
  CONTRIBUTORS.md
  README.rst
  doc/source/conf.py
  pyproject.toml
  src/ansys/tools/filetransfer/__init__.py
  src/ansys/tools/filetransfer/_client.py
  src/ansys/tools/filetransfer/_log.py
  tests/conftest.py
  tests/test_filetransfer.py
Due: mypy-code, mypy-tests

Fix dependabot.yml
  .github/dependabot.yml
Due: none

Fix dependabot.yml (#62)
  .github/dependabot.yml
Due: none

Fix vale warnings
  doc/source/_static/README.md
  doc/source/api/index.rst
  doc/source/contribute.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

Fix vale warnings (#66)
  doc/source/_static/README.md
  doc/source/api/index.rst
  doc/source/contribute.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

feat: contributors
  CONTRIBUTORS.md
Due: none

fix: update end license year
  LICENSE
Due: none

fix: pyproject.toml config
  pyproject.toml
Due: none

maint: weekly dependabot
  .github/dependabot.yml
Due: none

docs: docstring alignment
  src/ansys/tools/filetransfer/_client.py
Due: mypy-code

cicd: use ansys/actions doc-build
  .github/workflows/ci_cd.yml
Due: none

fix: revert doc-build process using ansys/actions
  .github/workflows/ci_cd.yml
Due: none

feat: tech review (#67)
  .github/dependabot.yml
  CONTRIBUTORS.md
  LICENSE
  pyproject.toml
  src/ansys/tools/filetransfer/_client.py
Due: mypy-code

Doc review for public release
  README.rst
  doc/source/api/index.rst
  doc/source/contribute.rst
  doc/source/index.rst
  doc/source/usage.rst
Due: none

Add cross references to FileTransfer Tool Server documentation
  README.rst
  doc/source/index.rst
Due: none

Fix errors causing check failures
  doc/source/usage.rst
  doc/styles/Vocab/ANSYS/accept.txt
  src/ansys/tools/filetransfer/_client.py
Due: mypy-code

Apply suggestions from code review
  doc/source/contribute.rst
  src/ansys/tools/filetransfer/_client.py
Due: mypy-code

Consume type info and defaults from code
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/ansys/tools/filetransfer/_client.py
  tox.ini
Due: mypy-code

Remove unneeded poetry flags
  .github/workflows/ci_cd.yml
  doc/source/contribute.rst
Due: none

Consume type info and defaults from code (#74)
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  doc/source/contribute.rst
  poetry.lock
  pyproject.toml
  src/ansys/tools/filetransfer/_client.py
  tox.ini
Due: mypy-code

Use grouped updates for pip dependencies
  .github/dependabot.yml
Due: none

Use grouped updates for pip dependencies (#78)
  .github/dependabot.yml
Due: none

Use ansys action for build library job
  .github/workflows/ci_cd.yml
Due: none

Use ansys action for build library job (#79)
  .github/workflows/ci_cd.yml
Due: none

fix: urls
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/conf.py
  doc/source/contribute.rst
  pyproject.toml
  tests/conftest.py
Due: mypy-tests

fix: urls (#80)
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/conf.py
  doc/source/contribute.rst
  pyproject.toml
  tests/conftest.py
Due: mypy-tests

MAINT: Bump version to v0.1.0
  pyproject.toml
Due: none

cicd: adding codecov
  .github/workflows/ci_cd.yml
Due: none

fix: badge
  README.rst
Due: none

Fix vale warning
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

Run apt-get update before install
  .github/workflows/ci_cd.yml
Due: none

MAINT: Bump dev version to v0.2.dev0
  pyproject.toml
Due: none

MAINT: Bump dev version to v0.2.dev0 (#87)
  pyproject.toml
Due: none

Change order in accept.txt
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

Migrate to vale v3
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
  doc/styles/config/vocabularies/CustomVocab/accept.txt
  doc/styles/config/vocabularies/CustomVocab/reject.txt
Due: none

Add changelog action
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog.d/changelog_template.jinja
  pyproject.toml
Due: none
